@import "http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911";
@import "http://fonts.googleapis.com/css?family=Wellfleet";
@import "http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic";

html {
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}

/*header{
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 22222;
    width: 100%;
    opacity: 1;
    font-size: 40px;
    font-family: "Wellfleet";
    color: black;
}

header img{
    height: 40px;
    width: 40px;
}*/

body {
	margin: 0;
}

#cover_container {
	height: 87%;
	width: 100%;
	position: relative;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
    #cover_container {
        height: 45%;
    }
}

#event_main_cover img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#event_title {
	position: absolute;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	bottom: 0;
	height: 100px;
	width: 60%;
	background-color: #FFF;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
    #event_title{
    	width: 75%;
    	height: 110px;
    }
}

#event_date_details {
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 45px;
}

.time_icon {
	min-width: 6%;
	margin-left: 25%;
	background: url("../img/web_images/time_icon.png") no-repeat 90% 50%;
    height: 50px;
    color: #fff;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    float: left;
}

.date_time_duration {
	float: left;
	max-width: 65%;
	height:50px;
	margin-left: 5%
}

#date_duration {
	font-size: 22px;
	font-weight: 100;
}

#time_duration {
	font-size: 16px;
	font-weight: 100;
	color: #777;
}

#total_distance {
	padding-top: 50px;
	text-align: center;
	font-size: 30px;
	font-family: 'Goudy Bookletter 1911', serif, ;
	float: left;
	width: 100%;
	color: #777;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
    .time_icon{
    	min-width: 8%;
		margin-left: 16%;
    }
    #total_distance{
    	font-size: 35px;
    }
    #time_duration {
    	font-size: 21px;
    }
    #date_duration {
    	font-size: 27px;
    }
}

h2 {
    font-family: "Wellfleet";
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 5%;
    padding: 0px;
}

h3 {
    display: block;
    font-family: 'Goudy Bookletter 1911', serif, ;
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}

h4 {
    display: block;
    font-family: 'Goudy Bookletter 1911', serif, ;
    font-size: 18px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 10px;
    font-style: italic;
}

h5 {
    display: block;
    font-family: 'Goudy Bookletter 1911', serif, ;
    font-size: 15px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 10px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
    h2 {
    	font-size: 50px;
    }
    h3{
    	font-size: 32px;
    }
}

#event_content_container {
	width: 60%;
	margin-left: 19.9%;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    border-top-width: 0px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
    #event_content_container{
    	width: 75%;
    	margin-left: 13%;
    }
}

#event_content {
	padding: 5%;
	clear: both;
}

p {
	font-family: "Arvo";
	font-size: 18px;
	color: #777;
	margin-top: 0px;
	margin-bottom: 15px;
}

li {
	font-family: "Arvo";
	font-size: 20px;
	color: #777;
}

ul {
	margin-top: 0px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
    p{
    	font-size: 15px;
    }
    li{
    	font-size: 15px;
    }
 }

.contact_details{
	margin-bottom: 50px;
	padding: 0 5%
}

.main_footer {
    height: 80px;
    background-color: #222;
}

.follow_us{
	margin-top: 10%;
    background: #eee;
    padding: 0px 0 50px 0;
    padding-top: 30px;
    box-sizing: border-box;
}

.follow_us_header{
    text-align: center;
    font-size: 22px;
}

.social_icons {
    display:table;
    margin: 0 auto;
    border-spacing: 20px;
}

.icon-youtube {
    display:table-cell;
    height: 55px;
    width: 55px;
    background: url("../img/web_images/fb-icon.png") 50% 0 no-repeat ;
    background-size: contain;
    border-radius: 100%;
}

.icon-instagram {
    display:table-cell;
    height: 55px;
    width: 55px;
    background: url("../img/web_images/insta-icon.png") 50% 0 no-repeat ;
    background-size: contain;
    border-radius: 100%;
}