html {
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}

body {
    margin: 0;
}

#cover_container {
    height: 87%;
    width: 100%;
    position: relative;
}

#event_main_cover img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#event_title {
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    bottom: 0;
    height: 100px;
    width: 60%;
    background-color: #FFF;
}

#event_title_h2{
    margin-top: 4%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
    #event_title{
        width: 75%;
        height: 70px;
        margin-top: 2%;
    }
}
#our_passion {
    padding:30px 10%;
    display: block;
    font-family: 'Goudy Bookletter 1911', serif;
    color: #999;
    font-size: 17px;
    font-weight: normal;
    text-align: center;
    margin: 0;
}

#details_container{
    width: 60%;
    margin: 0 auto;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    border-top-width: 0px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
    #details_container{
        width: 75%;
        margin: 7% auto;
    }
}

#wrapper {
    width: 95%;
    max-width: 1550px;
    min-width: 320px;
    margin: 50px auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
    #wrapper{
        width: 90%;
    }
}

#columns {
    -webkit-column-count: 3;
    -webkit-column-gap: 30px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 30px;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 35px;
    column-fill: auto;
}

.admin{
    width: 90%;
}

.team {
    width: 90%;
}

.pin {
    display: inline-block;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 45px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;
    
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.pin img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.member_details {
    font: 12px/18px Arial, sans-serif;
    color: #333;
    margin: 0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    #columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    #columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi){
    #columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

#columns:hover .pin:not(:hover) {
    opacity: 0.4;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    #columns:hover .pin:not(:hover) {
       opacity: 1;
    }
}

.pin h3{
    color: #333;
    font-family: "Wellfleet";
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 5px;
    width: 60%;
    margin: 4px auto;
}

.pin h4 {
    margin: 4px 0;
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: #333;
}

.member_since {
    margin: 4px 0;
    font-size: 10px;
    font-family: Arial, sans-serif;
    color: #333;
}

h3 {
    display: block;
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 37px;
    font-weight: normal;
    text-align: center;
    margin: 0;
}

h1 {
    font-family: "Arvo";
    font-weight: normal;
    font-size: 55px;
    text-align: center;
    color: #777;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-family: "Arvo";
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    color: #777;
    margin: 0px;
    padding: 0px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
    h2{
        font-size: 50px;
    }
}