@import "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,800,400,600";

html {
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}

#main_container {
    position: relative;
}

#img1 {
    background: url("../img/web_images/cover.jpg") 50% 0 no-repeat fixed;
    color: #fff;
    min-height: 600px;
    margin: 0;
    background-size: cover;
    padding: 200px 0 260px 0;
    position: relative;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
    #img1 {
        min-height: 400px;
    }
}

.whitespace {
    min-height: 600px;
    margin: 0;
    margin-bottom: 35px;
    background-size: cover;
    padding: 80px 0 80px 0;
}

body {
    margin: 0px;
}

h1 {
    font-family: "Arvo";
    font-weight: normal;
    font-size: 55px;
    text-align: center;
    color: #FFF;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-family: "Arvo";
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    color: #FFF;
    margin: 0px;
    padding: 0px;
}

h3 {
    display: block;
    font-family: "Wellfleet";
    font-size: 37px;
    font-weight: normal;
}

p {
    font-family: "Arvo";
}

#united {
    background: url('../img/web_images/united.png') no-repeat;
    margin-top: 200px;
    width: 140px;
    height: 124px;
    margin: 0 auto;
    display: block;
    position: relative;
}

.content {
    position: absolute;
    left:0;
    right:0;
    margin:0 auto;
}

#divider {
    background: url('../img/web_images/divider.png') no-repeat;
    width: 300px;
    height: 35px;
    margin: 0px auto 27px auto;
}

#ribbon {
    background: url('../img/web_images/ribbon.png') no-repeat;
    width: 251px;
    height: 48px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: -38px;
}

#grp_name {
    font-family: "Wellfleet";
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin: 1px 0;
    padding: 0;
    z-index: 1;
    position: relative;
}

/*#navigation {
	top: 0px;
	height: 90%;
	position: fixed;
	margin-top: 0px;
	right: 0px;
	border: 1px solid black;
	background-color: #fff;
	width: 18%;
    transform: translateX(100%);
}

#main_navigation {
	padding: 35px 130px 80px 0px;
	text-transform: uppercase;
}

.vb {
	position: absolute;
	left: 0px;
	bottom: 20px;
}

#main_navigation a {
	height: 25px;
	display: block;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

#main_navigation li {
	font-size: 20px;
    font-family: circular-bold,sans-serif;
	display: block;
	list-style: none;
	margin-bottom: 5px;
	margin-top: 5px;
}

#main_navigation li:hover {
	transform: scale(1.02); 
}

#menu_icon {
    background: url('../img/web_images/menu.png') no-repeat;
    position: fixed;
    right: 10px;
    top: 20px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: block;
}*/

.main_footer {
    height: 80px;
    background-color: #222;
}

#upcoming_events_header {
    margin: 0px auto;
    color: black;
    text-align: center;
}

#body_content {
    width: 95%;
    height: 60%;
    margin: 0px auto;
    text-align: center;
}

.events{
    height: 85%;
    width: 29%;
    display: inline-block;
    margin: 0px 1.5% 30px 1.5%;
    border: 2px solid #FAFAFA;
    padding: 8px 5px 0px 5px;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
    .events {
        height: 85%;
        width: 80%;
    }
}

.ride_name{
    text-align: center;
    font-family: 'Goudy Bookletter 1911', serif;
    font-weight: normal;
    font-size: 30px;
    margin: 10px auto;
    color: #777;
}

.events img{
    display: block;
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
}

.follow_us{
    background: #eee;
    padding: 0px 0 50px 0;
    padding-top: 30px;
    box-sizing: border-box;
}

.follow_us_header{
    text-align: center;
    font-size: 22px;
}

.social_icons {
    display:table;
    margin: 0 auto;
    border-spacing: 20px;
}

.icon-youtube {
    display:table-cell;
    height: 55px;
    width: 55px;
    background: url("../img/web_images/fb-icon.png") 50% 0 no-repeat ;
    background-size: contain;
    border-radius: 100%;
}

.icon-instagram {
    display:table-cell;
    height: 55px;
    width: 55px;
    background: url("../img/web_images/insta-icon.png") 50% 0 no-repeat ;
    background-size: contain;
    border-radius: 100%;
}

#aout_us_header {
    width: 65%;
    float: left;
}

#about_us_paragraph {
    font-size: 22px;
    font-family: inherit;
    font-style: italic;
    font-weight: 300;
}

#about_us_content{
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 100;
}

.about_us_container {
    width: 75%;
    margin: 1% auto;
    padding: 1%;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    overflow: auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    #aout_us_header {
        width: 100%;
        margin: 1% 2%;
        text-align: center;
    }
}

#about_main_container{
    min-height: 600px;
    width: 100%;
    padding-top: 2%;
    background-color: #eee;
    overflow: auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
    #about_main_container {
        padding: 5% 0;
    }
}

.about_us_image_container {
    padding-left: 4%;
    width: 30%;
    float: left;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
    .about_us_image_container {
        width: 100%;
        padding-left: 0%;
    }
}

#about_us_group_image {
    min-height: 400px;
    width: 100%;
    background: #eee url("../img/web_images/dbatg-transparent-logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.upcoming_event_quote {
    text-align: center;
    padding-bottom: 80px;
}

.quotes {
    font-family: 'Goudy Bookletter 1911', serif;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    margin: 50px auto;
    color: #777;
}

#quote_container {
    clear: both;
    padding: 5% 0;
    width: 100%;
    font-family: 'Goudy Bookletter 1911', serif;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    color: #777;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
    #quote_container {
        margin: 10% auto 2% auto;
    }
}

#excitement_container {
    background: url("../img/web_images/106.png") no-repeat 50% 80%;
    height: 350px;
    color: #fff;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
    #excitement_container {
        background: url("../img/web_images/106.png") no-repeat 10% 80%;
        height: 550px;
    }
}

#whoweare{
    background-color: #fff;
    width: 100%;
    padding: 5% 0;
    overflow: auto;
}

#member_details{
    width: 75%;
    margin: 0 auto;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    overflow: auto;
}

.who_we_are_image_container {
    margin: 5px;
    width: 35%;
    float: left;
}

#who_we_are_group_image {
    height: 495px;
    width: 100%;
    background: #eee url("../img/web_images/who_we_are.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#who_we_are_header {
    width: 60%;
    margin: 0 2%;
    float: left;
}

#who_we_are_paragraph {
    font-size: 22px;
    font-family: inherit;
    font-style: italic;
    font-weight: 300;
}

#who_we_are_content{
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 100;
}

#know_us {
    font-family: "Wellfleet";
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin: 10% 38%;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
    .who_we_are_image_container {
        width: 100%;
    }
    #who_we_are_header{
        width: 100%;
    }
    #whoweare{
        margin: 15% auto 8% auto;
    }
    #know_us{
        margin: 10% 30%;
    }
}