@import "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,800,400,600";

html {
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}

#main_container {
    position: relative;
}

#img1 {
    background: url("2.jpg") 50% 0 no-repeat fixed;
    color: #fff;
    height: 600px;
    margin: 0;
    background-size: cover;
    padding: 0 0 260px 0;
    position: relative;
}

.whitespace {
    position: relative;
    height: 600px;
    margin: 0;
    background-size: cover;
    padding: 80px 0 260px 0;
}

body {
    margin: 0px;
}

h1 {
    font-family: "Arvo";
    font-weight: normal;
    font-size: 55px;
    text-align: center;
    color: #FFF;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-family: "Arvo";
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    color: #FFF;
    margin: 0px;
    padding: 0px;
}

h3 {
    display: block;
    font-family: "Wellfleet";
    font-size: 37px;
    font-weight: normal;
}

p {
    font-family: "Arvo";
}

#united {
    background: url('united.png') no-repeat;
    margin-top: 200px;
    width: 140px;
    height: 124px;
    margin: 0 auto;
    display: block;
    position: relative;
}

.content {
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-top: 200px;
}

#divider {
    background: url('divider.png') no-repeat;
    width: 300px;
    height: 35px;
    margin: 0px auto 27px auto;
}

#ribbon {
    background: url('ribbon.png') no-repeat;
    width: 251px;
    height: 48px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: -38px;
}

#grp_name {
    font-family: "Wellfleet";
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin: 1px 0;
    padding: 0;
    z-index: 1;
    position: relative;
}

#navigation {
	top: 0px;
	height: 90%;
	position: fixed;
	margin-top: 0px;
	right: 0px;
	border: 1px solid black;
	background-color: #fff;
	width: 18%;
    transform: translateX(100%);
}

#main_navigation {
	padding: 35px 130px 80px 0px;
	text-transform: uppercase;
}

.vb {
	position: absolute;
	left: 0px;
	bottom: 20px;
}

#main_navigation a {
	height: 25px;
	display: block;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

#main_navigation li {
	font-size: 20px;
    font-family: circular-bold,sans-serif;
	display: block;
	list-style: none;
	margin-bottom: 5px;
	margin-top: 5px;
}

#main_navigation li:hover {
	transform: scale(1.02); 
}

#menu_icon {
    background: url('menu.png') no-repeat;
    position: fixed;
    right: 10px;
    top: 20px;
    width: 50px;
    height: 80px;
}

.main_footer {
    height: 80px;
    background-color: #222;
}

#upcoming_events_header {
    margin: 0px auto;
    color: black;
    text-align: center;
}

#body_content {
    width: 100%;
    position: absolute;
    height: 40%;
    bottom: 10%;
}

.events{
    height: 90%;
    width: 30%;
    float: left;
    margin: 0px 1.5% 30px 1.5%;
    border: 2px solid black;
}

.follow_us{
    background: #fff;
    padding: 0px 0 50px 0;
    box-sizing: border-box;
}

.follow_us_header{
    text-align: center;
    font-size: 22px;
}

.social_icons {
    display:table;
    margin: 0 auto;
    border-spacing: 20px;
}

.icon-youtube {
    display:table-cell;
    height: 55px;
    width: 55px;
    background: url("fb-icon.png") 50% 0 no-repeat ;
    background-size: contain;
    border-radius: 100%;
}

.icon-instagram {
    display:table-cell;
    height: 55px;
    width: 55px;
    background: url("insta-icon.png") 50% 0 no-repeat ;
    background-size: contain;
    border-radius: 100%;
}

.about_us_container {
    background-color: #eee;
    padding: 2% 6% 4% 6%;
    float: left;
}

#aout_us_header {
    width: 65%;
    float: left;
}

#about_us_paragraph {
    font-size: 22px;
    font-family: inherit;
    font-style: italic;
    font-weight: 300;
}

#about_us_content{
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 100;
}

.about_us_image_container {
    padding-top: 5%;
    padding-left: 5%;
    width: 30%;
    float: left;
}

#about_us_group_image {
    height: 400px;
    width: 100%;
    background: url("grp-logo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.upcoming_event_quote {
    text-align: center;
}

.quotes {
    font-family: 'Goudy Bookletter 1911', serif;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    margin: 50px auto;
    color: #777;
}

#quote_container {
    clear: both;
    padding: 10% 0;
    width: 100%;
    font-family: 'Goudy Bookletter 1911', serif;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    color: #777;
}

#excitement_container {
    background: url("106.png") no-repeat 50% 80%;
    height:     350px;
    color: #fff;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}